<div class="container-fluid">
    <form [formGroup]="forgotPasswordForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter Email</label>
            <input type="email" formControlName="email" 
            [ngClass]="{ 'is-invalid':f['email'].invalid  && (f['email'].touched || f['email'].dirty), 'is-valid':f['email'].valid }"
                class="form-control" name="email" [(ngModel)]="email">
        </div>
        <ng-container *ngFor="let validation of validationMessage.email">
            <div *ngIf="f['email'].hasError(validation.type)" class="invalid-feedback">{{validation.message}}</div>
        </ng-container>        
        <p-button (click)="forgotPassword()">Reset</p-button>
    </form>
</div>