<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Inbox</h3>

        <div class="card-tools">
          <!-- <div class="input-group input-group-sm">
            <input class="form-control" placeholder="Search Mail" type="text">
            <div class="input-group-append">
              <div class="btn btn-primary">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div> -->
          <div class="custom_sort">
            <button class="sortby">Sort by <i class="fas fa-chevron-down"></i></button>
            <div class="c_sort_box">
              <ul>
                <li class="f_li">
                  <p>Sortby</p>
                  <ul class="se_ul">
                    <li>
                      <a href="">Receved Date</a>
                    </li>
                    <li>
                      <a href="">Sender Mail</a>
                    </li>
                    <li>
                      <a href="">Status</a>
                    </li>
                  </ul>
                </li>
                <li class="f_li">
                  <p>Sort Order</p>
                  <ul class="se_ul">
                    <li><a href="">Ascending</a></li>
                    <li><a href="">Descending</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="mailbox-controls">
          <!-- Check all button -->
          <div class="btn-group">
            <div class="icheck-primary">
              <!-- <input id="check1" (change)="checkUncheckAll()" type="checkbox">
              <label for="check1"></label> -->
              <input class="styled-checkbox" id="check1" (change)="checkUncheckAll()" type="checkbox">
              <label for="check1"></label>
            </div>

            <button class="btn btn-default btn-sm" type="button"><i class="far fa-trash-alt"></i></button>
            <button class="btn btn-default btn-sm" type="button"><i class="fas fa-reply"></i></button>
            <button class="btn btn-default btn-sm" type="button"><i class="fas fa-share"></i></button>
            <button class="btn btn-default btn-sm" type="button"><i class="fas fa-sync-alt"></i></button>

          </div>
          <!-- /.btn-group -->
          <div class="float-right">
            1-50/200
            <div class="btn-group">
              <button class="btn btn-default btn-sm" type="button"><i class="fas fa-chevron-left"></i></button>
              <button class="btn btn-default btn-sm" type="button"><i class="fas fa-chevron-right"></i></button>
            </div>
            <!-- /.btn-group -->
          </div>
          <!-- /.float-right -->
        </div>
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover table-striped">
            <tbody>

              <tr (click)="viewInbox()" *ngFor="let mail of mailList; let i=index;">

                <td class="first_td">
                  <span class="icheck-primary">
                    <input id="check5" [(ngModel)]="isChecked" type="checkbox" class="styled-checkbox">
                    <label for="check5"></label>
                  </span>
                  <span class="mailbox-star">
                    <a href="#"><i class="fas fa-star text-warning"></i></a>
                  </span>
                  <span>
                    <i class="fas fa-envelope text-warning"></i>
                  </span>
                </td>
                <td class="mailbox-name"><a href="read-mail.html">Enevelope</a></td>
                <td class="mailbox-subject"> {{ mail?.createdAt | date:'dd/MM/yyyy'}}</td>
                <td class="mailbox-attachment"><img class="img-responsive size" src="{{DEFAULT_IMAGE}}" width="50"></td>
                <td class="mailbox-date">{{mail?.mail_id?.mail_box_id || '--'}}</td>
              </tr>
            </tbody>
          </table>
          <div class="flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="limit" [totalRecords]="totalRows"
              [rowsPerPageOptions]="[5, 10, 30,50]"></p-paginator>
          </div>
          <!-- /.table -->
        </div>
      </div>
    </div>
  </div>


</div>