<div class="tab-content py-3" id="myTabContent">
    <div class="card-header">
        <div class="row">
            <div class="col-3">
                <h3><i class="fas fa-home mr-2"></i>Customers</h3>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Mailbox, Name or Email">
            </div>
            <div class="col-3">
                <select class="form-control">
                    <option value="">All</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="closed">Closed</option>
                    <option value="payment_status">Payment Issue</option>
                    <option value="suspended">Suspended</option>
                    <option value="transferred">Transferred</option>
                    <option value="Onboarding">Onboarding</option>
                    <option value="closed">Closed</option>
                </select>
            </div>
            <div class="col-3">
                <a type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-file-export"> Export Customer List</i> </a>

            </div>
        </div>

    </div>
    <div class="card-body">
        <table class="table table-striped table-hover cursor">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mailbox</th>
                    <th scope="col">Name</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Plan Type</th>
                    <th scope="col">SignUp Date</th>
                    <th scope="col">USPS Received</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remote Login</th>
                </tr>
            </thead>
            <tbody>
                <tr [routerLink]="['232']" 
                    *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: p };index as i;">
                    <th scope="row">{{ i +1}}</th>
                    <td>1081</td>
                    <td>{{ customer.fname +' ' +customer.lname | titlecase }}</td>
                    <td>{{ customer.bussiness_name || 'N/A' }}</td>
                    <td>5</td>
                    <td>44</td>
                    <td>{{ customer.timestamp | date:'fullDate' }}</td>
                    <td><i class="fas fa-times text-danger"></i></td>
                    <td><i class="fa fa-circle text-success"></i> {{customer.user_status | titlecase}}</td>
                    <td> <p-button title="Remote Login" (click)="remoteLogin()" icon="pi pi-sign-in"
                            styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                    </td>
                </tr>
                <tr *ngIf="customers.length == 0" style="text-align: center;" class="no-records-found">
                    <td colspan="10">No Record Found</td>
                  </tr>
            </tbody>
        </table>

        <div class="card-footer clearfix"  *ngIf="customers.length != 0" >
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>