<div class="d-flex justify-content-between align-items-center breaking-news text-white">
  <div class="d-flex flex-row flex-fill justify-content-center isteColor  text-white px-1 news"></div>
</div>
<div class="d-flex justify-content-between align-items-center ">
  <div class="d-flex flex-row flex-fill justify-content-center bg-white  text-white px-1 news"></div>
</div>
<div class="d-flex justify-content-between align-items-center breaking-news text-white">
  <div class="d-flex flex-row flex-fill justify-content-center bg-blue  text-white px-1 news"></div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="card border-danger golge">
      <div class="card-header"><a class="isteColor" href="anasayfa.html">
        <h5 class="text-center m-2" style="font-weight: bold">NEWS FLOW</h5>
      </a></div>
      <div class="card-body">
        <div class="carousel vert slide" data-interval="2000" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <ul class="timeline">
                <li>
                  &lt;!&ndash;"_blank" tıklanan linkin yeni sekmede açılmasını sağlar.&ndash;&gt;
                  <a href="#" target="_blank">News Headline</a>
                  <a class="float-right" href="#">09 Ocak, 2019</a>
                  <p class="article">>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                    gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..</p>
                </li>
                <hr>
                <li>
                  <a href="#">News Headline</a>
                  <a class="float-right" href="#">4 Temmuz, 2018</a>
                  <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                    burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                    gözükecek..</p>
                </li>
                <hr>
                <li>
                  <a href="#">News Headline</a>
                  <a class="float-right" href="#">4 Temmuz, 2018</a>
                  <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                    burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                    gözükecek..</p>
                </li>
              </ul>
            </div>
            <div class="carousel-item">
              <ul class="timeline">
                <li>
                  <a href="#">News Headline</a>
                  <a class="float-right" href="#">09 Ocak, 2019</a>
                  <p class="article">>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                    gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..</p>
                </li>
                <hr>
                <li>
                  <a href="#">News Headline</a>
                  <a class="float-right" href="#">4 Temmuz, 2018</a>
                  <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                    burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                    gözükecek..</p>
                </li>
                <hr>
                <li>
                  <a href="#">News Headline</a>
                  <a class="float-right" href="#">4 Temmuz, 2018</a>
                  <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler
                    burada gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                    gözükecek..</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
