<div class="container">
    <div class="col-lg-12">
        <div class="row p-2">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>My Account</h3>
            </div>



            <div class="container main-detail">
                <div class="row profile-section">
                    <div class="col-2">
                        <h5> First Name</h5>
                    </div>
                    <div class="col-3">
                        <p>Matercdbhjbcjdn</p>
                    </div>

                </div>
                <div class="row profile-section">
                    <div class="col-2">
                        <h5> Last Name</h5>
                    </div>
                    <div class="col-3">
                        <p>Mater</p>
                    </div>
                </div>
                <div class="row profile-section">
                    <div class="col-2">
                        <h5> Email</h5>
                    </div>
                    <div class="col-2">
                        <p>Mater</p>
                    </div>
                </div>
                <div class="row profile-section">
                    <div class="col-2">
                        <h5> Role</h5>
                    </div>
                    <div class="col-2">
                        <p>admin</p>
                    </div>
                </div>
                <div class="row profile-section">
                    <div class="col-2">
                        <h5>New Requests Notification</h5>
                    </div>
                    <div class="col-2">
                        <p>Enable</p>
                    </div>
                </div>
                <div class="row profile-section">
                    <div class="col-2">
                        <h5>New Customers Notification</h5>
                    </div>
                    <div class="col-2">
                        <p>Enable</p>
                    </div>
                </div>
                <div class="row profile-section">
                    <div class="col-2">
                        <h5>Usps 1583 Notification</h5>
                    </div>
                    <div class="col-2">
                        <p>Enable</p>
                    </div>
                </div>
            </div>




            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="testButtonContainer setting-button">
                    <button class="testButton" type="button" class="btn btn-light">Edit</button>
                </div>
                <div>
                    <button class="testButton" type="button" class="btn btn-light">Change Password</button>
                </div>

            </div>

        </div>
    </div>
</div>