<div class="container">
    <div class="row">
        <div class="col d-flex">
            <h2><strong>Video Tutorials</strong></h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6 label-video">
            <strong>Viewing Your Customers</strong>
            <iframe height="280" width="500" src="https://static.thenounproject.com/png/3255966-200.png"></iframe>
        </div>
        <div class="col-sm-6">
            <strong>Upload & Assign</strong>
            <iframe height="280" width="500" src="https://static.thenounproject.com/png/3255966-200.png">
            </iframe>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <strong>Processing Operations</strong>
            <iframe height="280" width="500" src="https://static.thenounproject.com/png/3255966-200.png"></iframe>
        </div>
        <div class="col-sm-6">
            <strong>Mobile Apps</strong>
            <iframe height="280" width="500" src="https://static.thenounproject.com/png/3255966-200.png">
            </iframe>
        </div>
    </div>
</div>