<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-inbox mr-2"></i>Video Tutorials</h3>
    </div>
    <div class="card-body">
        <div class="row vedio">
            <div class="col-5 label-video">
                <strong>Viewing Your Customers</strong>
                <iframe
                    height="280"
                    width="530"
                    src="https://static.thenounproject.com/png/3255966-200.png"
                ></iframe>
            </div>

            <div class="col-5 label-video">
                <strong>Upload & Assign</strong>
                <iframe
                    height="280"
                    width="500"
                    src="https://static.thenounproject.com/png/3255966-200.png"
                ></iframe>
            </div>
        </div>

        <div class="row vedio">
            <div class="col-5 label-video">
                <strong>Processing Operations</strong>
                <iframe
                    height="280"
                    width="530"
                    src="https://static.thenounproject.com/png/3255966-200.png"
                ></iframe>
            </div>

            <div class="col-5 label-video">
                <strong>Mobile Apps</strong>
                <iframe
                    height="280"
                    width="500"
                    src="https://static.thenounproject.com/png/3255966-200.png"
                ></iframe>
            </div>
        </div>
    </div>
</div>
