<div style="width: 300px">
    <form [formGroup]="addPackageForm">

        <div class="mb-3">
            <label class="form-label">Type</label>
            <select formControlName="type" class="form-control" >
                <option value="">Select Loan Type</option>                                            
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="text" formControlName="price" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Incoming Mail</label>
            <input type="text" formControlName="incoming_mail" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Incoming Mail</label>
            <input type="text" formControlName="open_scan" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Incoming Mail</label>
            <input type="text" formControlName="recipients" class="form-control">
        </div>
        <div style="float: right;">
        
        <p-button class="mr-3" (click)="save()"> Add </p-button>
    </div>
    </form>
</div>
