<div class="container-fluid">
  <div class="row vmb-back-yellow text-white">
    <div class="col-md-6 my-auto">
      <div class="w-50 mx-auto text-center">
        <!--        <p class="text-left">Home / Welcome Partner</p>-->
        <h1 class="text-left">Welcome Partner</h1>
      </div>
    </div>
    <div class="col-md-6 m-0 d-none d-sm-none d-lg-block partner-header">
    </div>

  </div>
</div>
<div class="container">
  <div class="section my-5">
    <h2 class="text-center font-weight-bold">WATCH YOUR BUSINESS GROW </h2>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/monetization.png" style="width: 150px; height: 150px;">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Monetize your downtime</h5>
            <!-- <p class="card-text">
               It doesn't cost anything to join and you will be approved within a few days. We will provide you with an
               online system to view reports, conversions and payouts.
             </p>-->
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/project-management.png"
                 style="width: 150px; height: 150px;">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Easy Management</h5>
            <!--<p class="card-text">We offer tracking links that you can share with your audience online, which can track
              signups for anyone who visits our website for up to 60 days.</p>-->
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/line-chart.png"
                 style="width: 150px; height: 150px;">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Grow Your Business</h5>
            <!--<p class="card-text">We are available year-round to answer your questions and to help you setup your online
              affiliate dashboard.</p>-->
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/effort.png" style="width: 150px; height: 150px;">
            <h5 class="h5 vmb-text-yellow font-weight-bold">No Extra Efforts</h5>
            <!--<p class="card-text">There is no cap on the commissions that you can earn, you've got unlimited earnings
              potential.</p>-->
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/world-wide.png"
                 style="width: 150px; height: 150px;">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Increase Shipping Business</h5>
            <!-- <p class="card-text">We can assist you in stetting up customized campaigns that can help to generate
               additional conversions. </p>-->
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="container">
  <div class="section my-5 py-3">
    <div class="row row-cols-lg-2 row-cols-1">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            frameborder="0"
            src="https://www.youtube.com/embed/yEksUcGr-oM"
            title="YouTube video player"
          ></iframe>
        </div>
        <div class="h5 py-3">
          VirtualMail Mail gives you the ability to offer virtual mailbox services to your customers. Our software can
          be
          used to scan and upload mail, packages, magazines and postcards to the cloud!<br>
          <br>

          There are no upfront capital investments and we offer simple flat-rate pricing, training and automated mailbox
          renter billing.
        </div>
      </div>
      <div class="col">
        <div class="col px-5">
          <div class="text-center vmb-text-yellow font-weight-bold">
            <h3 class="font-weight-bold">SIGN UP TO INCREASE YOUR BUSINESS</h3>
          </div>
          <div>
            <form>
              <div class="form-group mb-4">
                <input class="form-control" id="bn" placeholder="Business Name" type="text">
              </div>
              <div class="form-row mb-4">
                <div class="form-group col-md-6">
                  <input class="form-control" id="fn" placeholder="Your First Name" type="text">
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control" id="ln" placeholder="Your Last Name" type="text">
                </div>
              </div>
              <div class="form-group mb-4">
                <input class="form-control" id="ba" placeholder="Business Address" type="text">
              </div>
              <div class="form-group mb-4">
                <input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" type="text">
              </div>
              <div class="form-row mb-4">
                <div class="form-group col-md-4 ">
                  <input class="form-control" id="inputCity" placeholder="City" type="text">
                </div>
                <div class="form-group col-md-4">
                  <input class="form-control" id="st" placeholder="State/Region" type="text">
                </div>
                <div class="form-group col-md-4">
                  <input class="form-control" id="inputZip" placeholder="Zip Code" type="text">
                </div>
              </div>
              <div class="form-group mb-4">
                <input class="form-control" id="ph" placeholder="Phone Number" type="text">
              </div>
              <div class="form-group mb-4">
                <input class="form-control" id="em" placeholder="Email" type="email">
              </div>
              <div class="text-center">
                <button class="btn btn-primary px-5 py-2 " type="submit">SEND</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>


    <!--<div class="card-deck ">
      <div class="card shadow-none text-center">
        <div class="card-body text-center">
          <img alt="vmb" class="img-fluid" src="assets/img/p1.jpg">
          <h5 class="h5 vmb-text-yellow font-weight-bold">Scan</h5>
          <p class="card-text">Scan envelopes, packages, magazines and postcards using any mobile device, tablet or
            document scanner.</p>
        </div>
      </div>
      <div class="card shadow-none text-center">
        <div class="card-body">
          <img alt="vmb" class="img-fluid" src="assets/img/p2.jpg">
          <h5 class="h5 vmb-text-yellow font-weight-bold">Upload</h5>
          <p class="card-text">Upload scanned mail item images to the VirtualMail Mail cloud for keying and
            assignment.</p>
        </div>
      </div>
      <div class="card shadow-none text-center">
        <div class="card-body">
          <img alt="vmb" class="img-fluid" src="assets/img/p3.jpg">
          <h5 class="h5 vmb-text-yellow font-weight-bold">Process</h5>
          <p class="card-text">An email notification is then sent to your customer so they can request operations like
            open & scan, forward or recycle.</p>
        </div>
      </div>
    </div>-->

    <!--<div class="section my-5">
      <h2 class="text-center vmb-text-yellow font-weight-bold">Our Advantages</h2>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100 shadow-none">
            <div class="card-body text-center">
              <img alt="..." class="img-fluid" src="assets/img/online-listing.png">
              <h5 class="h5 vmb-text-yellow">Online Listing</h5>
              <p class="card-text">Get published on our website and customers will start signing up.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 shadow-none">
            <div class="card-body text-center">
              <img alt="..." class="img-fluid" src="assets/img/no-capital-investment.png">
              <h5 class="h5 vmb-text-yellow">No Capital Investment</h5>
              <p class="card-text">Zero start-up costs and no monthly minimums. You can cancel anytime.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 shadow-none">
            <div class="card-body text-center">
              <img alt="..." class="img-fluid" src="assets/img/easy-setup.png">
              <h5 class="h5 vmb-text-yellow">Easy Setup</h5>
              <p class="card-text">Use your existing document scanners to scan images of mail items and packages.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 shadow-none">
            <div class="card-body text-center">
              <img alt="..." class="img-fluid" src="assets/img/automated-billing.png">
              <h5 class="h5 vmb-text-yellow">Automated Billing</h5>
              <p class="card-text">We will automatically invoice and bill your customers for their subscription fees.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 shadow-none">
            <div class="card-body text-center">
              <img alt="..." class="img-fluid" src="assets/img/cloud-based.png">
              <h5 class="h5 vmb-text-yellow">Cloud Based</h5>
              <p class="card-text">Our software is cloud based and allows you to manage all of your customer requests
                online.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100 shadow-none">
            <div class="card-body text-center">
              <img alt="..." class="img-fluid" src="assets/img/simple-pricing.png">
              <h5 class="h5 vmb-text-yellow">Simple Pricing</h5>
              <p class="card-text">We charge a revenue share per customer and send you an electronic deposit at the end of
                the month.</p>
            </div>
          </div>
        </div>


      </div>
    </div>-->
    <!-- <div class="section my-5">
       <h2 class="text-center">Securely receive mail and package deliveries from</h2>
       <div class="row row-cols-1 row-cols-md-5">
         <div class="col mb-4">
           <div class="card h-100 shadow-none">
             <div class="card-body text-center">
               <img alt="..." class="img-fluid" src="assets/img/usps.svg" style="height: 80px;">
             </div>
           </div>
         </div>
         <div class="col mb-4">
           <div class="card h-100 shadow-none">
             <div class="card-body text-center">
               <img alt="..." class="img-fluid" src="assets/img/ups_logo.png">
             </div>
           </div>
         </div>
         <div class="col mb-4">
           <div class="card h-100 shadow-none">
             <div class="card-body text-center">
               <img alt="..." class="img-fluid" src="assets/img/carrier-logo-fedex.png">
             </div>
           </div>
         </div>
         <div class="col mb-4">
           <div class="card h-100 shadow-none">
             <div class="card-body text-center">
               <img alt="..." class="img-fluid" src="assets/img/dhl_logo.png">
             </div>
           </div>
         </div>
         <div class="col mb-4">
           <div class="card h-100 shadow-none">
             <div class="card-body text-center">
               <img alt="..." class="img-fluid" src="assets/img/amazon-logo.png">
             </div>
           </div>
         </div>

       </div>
     </div>-->
  </div>

</div>
