
body {
  margin: 24px;
}


.upload_dropZone {
  color: #0f3c4b;
  background-color: var(--colorPrimaryPale, #ffffff);
  outline: 2px dashed var(--colorPrimaryHalf, #132633) !important;
  outline-offset: -12px;
  transition:
    outline-offset 0.2s ease-out,
    outline-color 0.3s ease-in-out,
    background-color 0.2s ease-out;
}
.upload_dropZone.highlight {
  outline-offset: -4px;
  outline-color: var(--colorPrimaryNormal, #0576bd);
  background-color: var(--colorPrimaryEighth, #c8dadf);
}
.upload_svg {
  fill: var(--colorPrimaryNormal, #0576bd);
}
.btn-upload {
  color: #000;
  background-color: var(--colorPrimaryNormal);
}
.btn-upload:hover,
.btn-upload:focus {
  color: green;
  background-color: var(--colorPrimaryGlare);
}
.upload_img {
  width: calc(33.333% - (2rem / 3));
  object-fit: contain;
}

.tab-content ,.tab-columns {
    margin-left: 15px;
}
.dropzone {
  background-color: #ffffff !important;
}
small[_ngcontent-qfc-c9] {
  color: #cfcfcf;
}
.small, small {
  font-size: 80%;
  font-weight: 400;
}


.selected-image{
  background-color: #f7f7f7;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 100fr auto auto;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 2px;
  min-height: 30px;
  text-align: initial;
}
.fileArray {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 100fr auto auto;
  grid-column-gap: 10px;
  align-items: flex-start;
}

.file-weight-text{
  font-size: 8pt;
  margin: 7px 5px 6px;
  text-align: right;
}