<h3 class="font-weight-bold">Upload New Mail</h3>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button aria-controls="home" aria-selected="true" class="nav-link active" data-target="#home" data-toggle="tab"
      id="home-tab" role="tab" type="button">
      Bulk Upload
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button aria-controls="profile" aria-selected="false" class="nav-link" data-target="#profile" data-toggle="tab"
      id="profile-tab" role="tab" type="button">
      Upload By Customer
    </button>
  </li>
</ul>


<div class="tab-content py-3" id="myTabContent">
  <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
    <h3>1. Choose Mail Type</h3>
    


    <form>
      <div class="col-md-3 tab-columns">
        <select class="form-control" (change)="onChangeSelectItemType($event)">
          <option>Select Item Type</option>
          <option value="1">Envelope</option>
          <option value="1">Large Envelope</option>
          <option value="package">Package</option>
          <option value="3">Magazine</option>
        </select>
      </div>
      <br>
      <div class="measureTab" *ngIf="isPackageSelect">
        <h5>Measure Package</h5>
        <div class="col-md-12 row tab-columns">

          <div class="input-group mb-3">

            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Weight(lb)</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Length</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Width(in)</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Height(in)</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <h3>2. Upload Photo</h3>

      <div class="col-md-4 tab-columns">


        <fieldset style="outline: 2px dashed;" class="upload_dropZone text-center mb-3 p-4">


          <svg class="upload_svg" width="60" height="60" aria-hidden="true">
            <use href="#icon-imageUpload"></use>
          </svg>

          <h4 class="small my-2">Drag &amp; Drop background image(s)<br><i>or</i></h4>

          <input id="upload_image_background" data-post-name="image_background"
            data-post-url="https://someplace.com/image/uploads/backgrounds/" class="position-absolute invisible"
            type="file" multiple accept="image/jpeg, image/png, image/svg+xml" />

          <label class="btn btn-upload mb-3" for="upload_image_background">Choose file(s)</label>

          <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>

        </fieldset>


      </div>
    </form>
  </div>

  <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
    <h1>Comming Soon!!</h1>
  </div>
</div>