<div class="container">
  <h1 class="text-center py-3">Find the address that best fits your needs.</h1>
  <p>
    Whether you’re looking to expand your business footprint, outsource mail handling, or just enjoy the convenience of
    receiving your mail digitally, we offer a nation-wide network of real street addresses to choose from.
  </p>
  <div class="my-4" id="map">
  </div>
  <!--
    <div>
      <iframe
        allowfullscreen=""
        height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15077529.85232482!2d-89.11179972608407!3d26.318543470132195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c1766591562abf%3A0xf72e13d35bc74ed0!2sFlorida%2C%20USA!5e0!3m2!1sen!2sin!4v1678266430060!5m2!1sen!2sin"
        style="border:0;"
        width="100%"></iframe>
    </div>-->

  <!--<div class="section my-5 py-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2 p-4">
        <div class="col">
          <img class="img-fluid" src="assets/img/location.png" width="400"/>
        </div>
        <div class="col">
          <h3>Find the address that best fits your needs</h3>
          <p>
            Digital Mailroom has a nation-wide network to help securely digitize mail, scan checks, and handle packages,
            all while giving you a real street address.
          </p>
          <button class="btn mt-5 btn-danger  rounded-pill pulse text-white" [routerLink]="'/'+frontEndRoutesPath.browseLocations"><i
            class="fas fa-search-location mr-2"></i>Browse Address

          </button>
          &lt;!&ndash;<button class="btn text-white  vmb-back-orange btn-lg btn-block h2"
                  [routerLink]="'/'+frontEndRoutesPath.browseLocations">Browse Addresses
          </button>&ndash;&gt;
        </div>
      </div>
    </div>
  </div>-->

</div>

