.partner-header {
  /* Full height */
  height: 350px;
  /* Center and scale the image nicely */
  background: url('/assets/img/florida-banner.jpg') no-repeat center;
  background-size: cover;
}


#map {
  height: 350px;
  background-size: cover;

}
