
  <div class="card-body">
    <div class="tab-content p-0">
      <div class="row">
        <div class="col-4" *ngFor="let items of mailFileimg">
        <img class="img-responsive size" alt="img" [src]="items">
      </div>
      </div>
    </div>
  
    
    <hr>
    <h3>Information</h3>
    <div class="row">
        
      <div class="col-lg-6">

        <div class="information-data">

            <label>Sender:</label>
            <p>{{ assignData.sender }}</p>

        </div>

        <div class="information-data">

            <label>Items type:</label>
            <p>{{ mailData?.mail_type }}</p>

        </div>

        <div class="information-data">

            <label>Pages:</label>
            <p>N/A</p>

        </div>
       
      </div>
      <div class="col-lg-6">
        <div class="information-data">

            <label>Mail ID:</label>
            <p>{{ mailData.id }}</p>

        </div>
        <div class="information-data">

            <label>Weight:</label>
            <!-- <p>{{mailData.measurement.waight}}</p> -->

        </div>
        
      </div>
    </div>

    <div class="row">
        <div class="col-12 button-assign">
            <button  class="btn btn-primary">
                Edit
            </button>
            <button class="btn btn-primary">
                Return
            </button>
            
        </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-6">
        <label class="form-label">Mail Id</label>
        <input type="number" class="form-control">
      </div>
      <div class="col-lg-6">
        <label class="form-label">Item Type</label>
        <input type="number" class="form-control">
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-lg-4">
        <label class="form-label">Weight(lb)</label>
        <input type="number" class="form-control">
      </div>
    </div> -->
    <hr>
    
  </div>
