<div class="container-fluid">
  <div class="row vmb-back-yellow text-white">
    <div class="col-md-6 my-auto">
      <div class="w-50 mx-auto text-center">
        <h1 class="text-left">Partner Affliate</h1>
      </div>
    </div>
    <div class="col-md-6 m-0 d-none d-sm-none d-lg-block partner-header">
    </div>

  </div>
</div>
<div class="container">
  <div class="section py-5 text-center">
    <h2 class="vmb-text-yellow font-weight-bold">Start Earning $25 per Referral.</h2>
    <p>Our affiliate program allows you to market our virtual mailbox service through your website, social media and
      other platforms. Anyone interested in getting a mailing address will be able to use our service to view and manage
      their postal mail online.</p>

  </div>
</div>
<div class="container">
  <div class="section my-5">
    <h2 class="text-center vmb-text-yellow font-weight-bold">Our Affiliate Program</h2>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/free-join.jpg">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Free to Join</h5>
            <p class="card-text">
              It doesn't cost anything to join and you will be approved within a few days. We will provide you with an
              online system to view reports, conversions and payouts.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/reliable-tracking.jpg">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Reliable Tracking</h5>
            <p class="card-text">We offer tracking links that you can share with your audience online, which can track
              signups for anyone who visits our website for up to 60 days.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/support-team.jpg">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Support Team</h5>
            <p class="card-text">We are available year-round to answer your questions and to help you setup your online
              affiliate dashboard.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/unlimited-earning.jpg">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Unlimited Earnings</h5>
            <p class="card-text">There is no cap on the commissions that you can earn, you've got unlimited earnings
              potential.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/customized-campaigns.jpg">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Customized Campaigns</h5>
            <p class="card-text">We can assist you in stetting up customized campaigns that can help to generate
              additional conversions. </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/promotional-resources.jpg">
            <h5 class="h5 vmb-text-yellow font-weight-bold">Promotional Resources</h5>
            <p class="card-text">We will provide you with an online library of images and banners that you can use for
              your online advertising.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="container">
  <div class="section my-5">
    <div class="row">
      <div class="col">
        <img class="img-fluid" src="assets/img/paid-commissions.jpg">
      </div>
      <div class="col my-auto">
        <div>
          <h1 class="font-weight-bold vmb-text-yellow">Are you ready to join?</h1>
          <button class="btn btn-danger">GET STARTED</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section my-5 bg-gray-light">
  <h2 class="vmb-text-yellow text-center font-weight-bold py-3">Getting Started</h2>
  <div class="container py-3">
    <div class="row getting-started-steps mb-5">
      <div class="col-md-4 my-auto">
        <h3 class="vmb-text-yellow">
          <span class="bg-primary rounded-pill p-2 text-white">1</span>
          Online Application</h3>
      </div>
      <div class="col-md-8">
        <div class="bg-white rounded-pill p-5">
          <p class="m-0 font-weight-bold">Simply fill out our online application and we will approve you within a few
            days. </p>
        </div>
      </div>
    </div>

    <div class="row getting-started-steps mb-5">
      <div class="col-md-4 my-auto">
        <h3 class="vmb-text-yellow">
          <span class="bg-primary rounded-pill p-2 text-white">2</span> Getting Approved</h3>
      </div>
      <div class="col-md-8">
        <div class="bg-white rounded-pill p-5">
          <p class="m-0 font-weight-bold">Once your application is approved, we will provide you with online access to
            an Affiliate
            Dashboard. </p>
        </div>
      </div>
    </div>

    <div class="row getting-started-steps mb-5">
      <div class="col-md-4 my-auto">
        <h3 class="vmb-text-yellow">
          <span class="bg-primary rounded-pill p-2 text-white">3</span> Tracking Links</h3>
      </div>
      <div class="col-md-8">
        <div class="bg-white rounded-pill p-5">
          <p class="m-0 font-weight-bold">Once you are logged into the Dashboard, you will be able to copy your tracking
            links
            and to
            monitor your affiliate sign ups. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="section my-5">
    <h2 class="text-center vmb-text-yellow font-weight-bold">Securely receive mail and package deliveries from</h2>
    <div class="row row-cols-1 row-cols-md-5">
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/usps.svg" style="height: 80px;">
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/ups_logo.png">
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/carrier-logo-fedex.png">
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/dhl_logo.png">
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100 shadow-none">
          <div class="card-body text-center">
            <img alt="..." class="img-fluid" src="assets/img/amazon-logo.png">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>-->
