<app-loading-process *ngIf="loading"></app-loading-process>
<h3 *ngIf="!loading" class="font-weight-bold">Assign Mail</h3>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="!loading">
  <li class="nav-item" role="presentation">
    <button aria-controls="pending" aria-selected="true" class="nav-link active" data-target="#pending"
      data-toggle="tab" id="pending-tab" role="tab" type="button" (click)="getPendingAssingMailList('pending')">
      Pending
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button aria-controls="flagged" aria-selected="false" class="nav-link" data-target="#flagged" data-toggle="tab"
      id="flagged-tab" role="tab" type="button" (click)="getPendingAssingMailList('flagged')">
      Flagged
    </button>
  </li>
</ul>

<div class="tab-content py-3" id="myTabContent">
  <div aria-labelledby="pending-tab" class="tab-pane fade show active" id="pending" role="tabpanel">
    <div class="row" *ngIf="list.length >0">
      <!-- Left col -->
      <section class="col-lg-4 connectedSortable" *ngFor="let item of list">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">

          <div class="card-body">
            <div class="tab-content p-0 tabhover" (click)="showDetailDailog(item)">
              <img class="img-responsive size" *ngIf="item?.file"
                src="{{ environment.API_URL+'/uploads/'  + item?.file[0]}}" (error)="doSomethingOnError($event)">
              <img class="img-responsive size" *ngIf="!item?.file" src="{{DEFAULT_IMAGE}}">

            </div>
            <div class="row">

            </div>
            <div class="button-block">
              <i class="far fa-envelope"></i> {{ item?.mail_type | titlecase }}
              <!-- <div class="btn-block float-right">
                </div> -->
              <p-button icon="pi pi-flag" (click)="flaggedConfirm($event,item?._id,'flagged')"
                styleClass="p-button-rounded p-button-info p-button-outlined float-right"></p-button>
              <p-button icon="pi pi-trash" (click)="deleteConfirm($event,item?._id)"
                styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
              <p-confirmPopup></p-confirmPopup>
            </div>
            <div class="button-block">
              <label> Date {{ item?.createdAt | date:'dd/MM/yyyy'}}</label>
              <label class="float-right">Time {{ item?.createdAt | date:'h:mm a'}}</label>
            </div>
          </div>
        </div>

      </section>

      <h1 *ngIf="list.length == 0" class="text-center">No Results.</h1>

    </div>
    <div class="flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="limit" [totalRecords]="totalRows"
        [rowsPerPageOptions]="[10, 20, 30,50]"></p-paginator>
    </div>
  </div>
  <div aria-labelledby="flagged-tab" class="tab-pane fade" id="flagged" role="tabpanel">
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-4 connectedSortable" *ngFor="let item of list">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">

          <div class="card-body">
            <div class="tab-content p-0 tabhover" (click)="showDetailDailog(item)">
              <img *ngIf="item?.file" class="img-responsive size"
                src="{{ environment.API_URL+'/uploads/'  + item?.file[0] }}" (error)="doSomethingOnError($event)">
              <img class="img-responsive size" *ngIf="!item?.file" src="{{DEFAULT_IMAGE}}">
            </div>

            <div class="button-block">
              <i class="far fa-envelope"></i> {{ item?.mail_type | titlecase }}

              <p-button icon="pi pi-flag-fill" (click)="flaggedConfirm($event,item?._id,'pending')"
                styleClass="p-button-rounded p-button-info p-button-outlined float-right"></p-button>
              <p-button icon="pi pi-trash" (click)="deleteConfirm($event,item?._id)"
                styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
              <p-confirmPopup></p-confirmPopup>
            </div>
            <div class="button-block">
              <label> Date {{ item?.createdAt | date:'dd/MM/yyyy'}}</label>
              <label class="float-right">Time {{ item?.createdAt | date:'h:mm a'}}</label>
            </div>
          </div>
        </div>
      </section>


      <h1 *ngIf="list.length == 0" class="text-center">No Results.</h1>

    </div>
  </div>
</div>

<p-dialog [draggable]="false" showEffect="fade" modal="true" styleClass="addDialog" [style]="{ width: '50vw' }"
  [(visible)]="showDetail" (onHide)="closeDialog()">

  <div class="card-body">

    <div class="tab-content p-0">
      <img class="img-responsive size" src="../../../assets/images/no-image-icon-23486.gif">
    </div>
    <div class="button-block">
      <i class="far fa-envelope"></i> {{ mailBoxInfo?.mail_type | titlecase }}

      <p-button icon="pi pi-flag" (click)="flaggedConfirm($event,mailBoxInfo?._id,'flagged')"
        styleClass="p-button-rounded p-button-info p-button-outlined float-right"></p-button>
      <p-button icon="pi pi-trash" (click)="deleteConfirm($event,mailBoxInfo?._id)"
        styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
      <p-confirmPopup></p-confirmPopup>
    </div>
    <div class="button-block">
      <label> Date {{ mailBoxInfo?.createdAt | date:'dd/MM/yyyy' }}</label>
      <label class="float-right">Time {{ mailBoxInfo?.createdAt | date:'h:mm a' }}</label>
    </div>
    <hr>
    <form [formGroup]="assignForm">
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label">Mailbox or Recipient Name</label>
          <div class="flex justify-content-center">
            <p-dropdown formControlName="mailbox_id" [style]="{'width':'100%'}" (onChange)="selectMailbox($event)"
              [options]="customers" [(ngModel)]="selectedCustomer" optionLabel="name" [filter]="true" filterBy="name"
              [showClear]="true" placeholder="Select a Recipient">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedCustomer">
                  <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + selectedCustomer.code.toLowerCase()" style="width: 18px" /> -->
                  <div>{{ selectedCustomer?.name | titlecase }}</div>
                </div>
              </ng-template>
              <ng-template let-sender pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" /> -->
                  <div>{{ sender.name | titlecase}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <div *ngIf="submitted && assignForm.controls.mailbox_id.errors" class="inp_error">
              <div *ngIf="assignForm.controls.mailbox_id.errors.required">
                Mailbox or Recipient Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <label class="form-label">Sender Name</label>
          <input formControlName="sender_name" type="text" class="form-control">
          <div *ngIf="submitted && assignForm.controls.sender_name.errors" class="inp_error">
            <div *ngIf="assignForm.controls.sender_name.errors.required">
              Sender Name is required
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label">Mail Id</label>
          <input formControlName="mail_id" type="number" class="form-control">
          <div *ngIf="submitted && assignForm.controls.mail_id.errors" class="inp_error">
            <div *ngIf="assignForm.controls.mail_id.errors.required">
              Mail Id is required
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <label class="form-label">Item Type</label>
          <input formControlName="mail_type" type="text" class="form-control">
          <div *ngIf="submitted && assignForm.controls.mail_type.errors" class="inp_error">
            <div *ngIf="assignForm.controls.mail_type.errors.required">
              Mail Type is required
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="row">
      <div class="col-lg-4">
        <label class="form-label">Weight(lb)</label>
        <input type="number" class="form-control">
      </div>
    </div> -->
      <hr>

      <div class="row float-right">
        <button class="btn btn-info" style="margin-right: 7px;" (click)="assigneMail()">
          <div class="spinner-border text-light" role="status" *ngIf="submitted">
            <span class="sr-only">Loading...</span>
          </div> Assign
        </button>
        <button class="btn btn-secondary" (click)="closeDialog()">Close</button>
      </div>
    </form>

  </div>
</p-dialog>