<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-inbox mr-2"></i>Mailbox Setting
            
        </h3>  
    </div>


    <div class="card-body mt-20">
        <div class="row">

            <div class="col-3 link-label">
                <label>Your signup link</label>
            </div>
            
            <div class="col-6">
                <div class="link-section">

                    <a href="">
                        http://localhost:4200/#/superAdmin/settings/mailbox-setting
                    </a>
                </div>
            </div>
        </div>


<div class="mail-box">
    <label>Mailbox Number</label>

    <div class="row">

        <div class="col-2 ">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="random" name="radioGroup" />
                
                Random
            </div>

        </div>

        <div class="col-2">

            <div class="form-check form-check-inline">
                <input class="form-check-input sequential" type="radio" id="sequential" name="radioGroup" />
                
                Sequential

            </div>
            
        </div>

    </div>

    <div class="row ">
        <div class="col-3 title">
            <p> Please specify the number of digits</p>
        </div>

        <div class="col-4 input-digt">

  <input class="digit" type="text"/>

        </div>
    </div>
</div>


<div class="address">

    <label>Address Type</label>


    <div class="row">

  <div class="col-2">
    Your Address
  </div>

  <div class="col-4  addres-label">
    <p>
        13727 SW 152bd St
    </p>
  </div>

    </div>


    <div class="row ">
        
          <div class="col-4">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">PMB</label>
          </div>
        </div>

        <div class="col-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                <label class="form-check-label" for="inlineCheckbox2">#</label>
              </div>
            
        </div>
    </div>

    <div class="row">
        
        <div class="col-4">

      <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Suite</label>
        </div>
      </div>

      <div class="col-4">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
              <label class="form-check-label" for="inlineCheckbox2">Unit</label>
            </div>
          
      </div>
  </div>

  <div class="form-check hide-section  form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
    <label class="form-check-label" for="inlineCheckbox2">    Hide Mailbox number</label>
  </div>

</div>
<h5><strong>Local Pickup Hours</strong></h5>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong class="day">Sunday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton1"
        />
        <label class="custom-control-label" for="toggleButton1"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong class="day">Monday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton2"
        />
        <label class="custom-control-label" for="toggleButton2"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong class="day">Tuesday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton3"
        />
        <label class="custom-control-label" for="toggleButton3"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong class="day">Wednesday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton4"
        />
        <label class="custom-control-label" for="toggleButton4"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong>Thursday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton5"
        />
        <label class="custom-control-label" for="toggleButton5"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong class="day">Friday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton6"
        />
        <label class="custom-control-label" for="toggleButton6"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="d-flex">
    <div class="col-sm-2">
        <strong class="day">Saturday</strong>
    </div>
    <div class="custom-control custom-switch">
        <input
            type="checkbox"
            class="custom-control-input"
            id="toggleButton6"
        />
        <label class="custom-control-label" for="toggleButton6"
            >Unavailable</label
        >
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-3">
        <h5><strong>Pickup Instructions</strong></h5>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <textarea name="pickup" id="pickup" cols="100" rows="4"></textarea>
    </div>
</div>
<div class="form-check form-check-inline">
    <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        value="option1"
    />
    <label class="form-check-label" for="inlineCheckbox1"
        >By Appointment</label
    >
</div>





    </div>

    <div class="row">
    <div class="col-8 section button-save">
        <button class="btn btn-primary">

            Save
        
        </button>
    </div>
</div>

</div>




<!-- <div class="container">
    <div class="row">
        <div class="col d-flex">
            <h3><strong><i class="fas fa-inbox mr-2"></i> Mailbox Settings</strong></h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            link
            <a href="google.com"></a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-4">
            <h5><strong>Mailbox Number</strong></h5>

            <br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="random" name="radioGroup" />
                
                Random
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input sequential" type="radio" id="sequential" name="radioGroup" />
                
                Sequential

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-9">
            Please specify the number of digits
            <input type="number" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 d-flex">
            <h5><strong>Address Type</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            Your Address
            <strong>2/465-E st PMB 8282 Miami,FL 33177 </strong>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="random" name="radioGroup" /> PMB
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input sequential" type="radio" id="sequential" name="radioGroup" /> #
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="random" name="radioGroup" /> Suite
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input sequential" type="radio" id="sequential" name="radioGroup" /> Unit
        </div>
    </div>
    <br />
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />

        <label class="form-check-label" for="inlineCheckbox1">Hide Mailbox number</label
        >
    </div>
    <br />
    <br />
    <h5><strong>Local Pickup Hours</strong></h5>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong class="day">Sunday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton1"
            />
            <label class="custom-control-label" for="toggleButton1"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong class="day">Monday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton2"
            />
            <label class="custom-control-label" for="toggleButton2"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong class="day">Tuesday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton3"
            />
            <label class="custom-control-label" for="toggleButton3"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong class="day">Wednesday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton4"
            />
            <label class="custom-control-label" for="toggleButton4"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong>Thursday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton5"
            />
            <label class="custom-control-label" for="toggleButton5"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong class="day">Friday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton6"
            />
            <label class="custom-control-label" for="toggleButton6"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="d-flex">
        <div class="col-sm-2">
            <strong class="day">Saturday</strong>
        </div>
        <div class="custom-control custom-switch">
            <input
                type="checkbox"
                class="custom-control-input"
                id="toggleButton6"
            />
            <label class="custom-control-label" for="toggleButton6"
                >Unavailable</label
            >
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <h5><strong>Pickup Instructions</strong></h5>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <textarea name="pickup" id="pickup" cols="100" rows="4"></textarea>
        </div>
    </div>
    <div class="form-check form-check-inline">
        <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
        />
        <label class="form-check-label" for="inlineCheckbox1"
            >By Appointment</label
        >
    </div>
</div> -->