<h3 class="font-weight-bold">Customer > Mohit</h3>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button aria-controls="home" aria-selected="true" class="nav-link active" data-target="#home" data-toggle="tab"
            id="home-tab" role="tab" type="button">Profile
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button aria-controls="profile" aria-selected="false" class="nav-link" data-target="#profile" data-toggle="tab"
            id="profile-tab" role="tab" type="button">Billing
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button aria-controls="profile" aria-selected="false" class="nav-link" data-target="#profile" data-toggle="tab"
            id="profile-tab" role="tab" type="button">Users
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button aria-controls="profile" aria-selected="false" class="nav-link" data-target="#profile" data-toggle="tab"
            id="profile-tab" role="tab" type="button">Notes
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button aria-controls="profile" aria-selected="false" class="nav-link" data-target="#profile" data-toggle="tab"
            id="profile-tab" role="tab" type="button">Subscription
        </button>
    </li>

</ul>
<div class="tab-content py-3" id="myTabContent">

    <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row p-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Account</h3>
                        </div>

                        <div class="container main-detail">
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Account#</label>
                                </div>
                                <div class="col-3">
                                    <span>065656</span>
                                </div>

                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Name</label>
                                </div>
                                <div class="col-3">
                                    <p>Faye Slater
                                    </p>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Status</label>
                                </div>
                                <div class="col-2">
                                    <p>Active</p>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Signup</label>
                                </div>
                                <div class="col-2">
                                    <p>04/14/2023</p>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Plan</label>
                                </div>
                                <div class="col-2">
                                    <p>Starter</p>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Plan Type</label>

                                </div>
                                <div class="col-2">
                                    <p>Monthly</p>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Business</label>

                                </div>
                                <div class="col-2">
                                    <span>Personnel Services and Development LLC</span>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Business Name</label>

                                </div>
                                <div class="col-2">
                                    <p>PostScan Mail</p>
                                </div>
                            </div>
                            <div class="row profile-section">
                                <div class="col-2">
                                    <label>Source</label>
                                </div>
                                <div class="col-2">
                                    <p>Enable</p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
    <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Invoice ID</th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>05/13/2023</td>
                    <td>94576987</td>
                    <td>94576987</td>
                    <td>Monthly Subscription</td>
                    <td>$1550.00</td>
                    <td> <p-button  icon="pi pi-check-circle"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>05/13/2023</td>
                    <td>94576987</td>
                    <td>94576987</td>
                    <td>Monthly Subscription</td>
                    <td>$10.00</td>
                    <td><p-button  icon="pi pi-check-circle"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button></td>

                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>05/13/2023</td>
                    <td>94576987</td>
                    <td>94576987</td>
                    <td>Monthly Subscription</td>
                    <td>$10.00</td>
                    <td><p-button  icon="pi pi-check-circle"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>