<div class="container-fluid">
  <div class="row vmb-back-yellow text-white">
    <div class="col-md-6 my-auto">
      <div class="w-50 mx-auto text-center">
        <!--        <p class="text-left">Home / Welcome Partner</p>-->
        <h1 class="text-left">Miami</h1>
      </div>
    </div>
    <div class="col-md-6 m-0 d-none d-sm-none d-lg-block partner-header">
    </div>

  </div>
  <div class="container">
    <div class="text-center">
      <div class="address-box text-left">
        <span style="color:#3758a7">Your Name<br>Your Company Name<br></span>
        <span>123 Miami<br>Florida 34553</span></div>
    </div>
    <app-pricing></app-pricing>
  </div>
</div>



