<div class="section shadow-sm">
  <!--  <img src="assets/img/hiw.png" class="img-fluid" height="100px"/>-->
  <div class="container">
    <h3 class="text-center vmb-text-lightblue font-weight-bold my-3">How it works</h3>
    <div class="container pb-4 ">
      <div class="row text-center">
        <div class="col">
          <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class=" px-3" role="presentation"><a aria-controls="home" class="active" data-toggle="tab"
                                                       href="#Section1"
                                                       role="tab">Your Mail,Online</a></li>
              <li class="px-3" role="presentation"><a aria-controls="profile" data-toggle="tab" href="#Section2"
                                                      role="tab">Deliver & Store</a></li>
              <li class="px-3" role="presentation"><a aria-controls="messages" data-toggle="tab" href="#Section3"
                                                      role="tab">Edit Your Mail</a></li>
              <li class="px-3" role="presentation"><a aria-controls="messages4" data-toggle="tab" href="#Section4"
                                                      role="tab">Get Paid Faster</a></li>
              <li class="px-2" role="presentation"><a aria-controls="messages5" data-toggle="tab" href="#Section5"
                                                      role="tab">eSignature Built In</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs" id="myTabContent">
              <div class="tab-pane active" id="Section1" role="tabpanel">
                <h3 class="font-weight-bold">Your Mail, Online</h3>
                <p>Receive 300 dpi images of your mail instantly on your computer, phone, or other device.</p>
                <img class="img-fluid" src="../../../assets/img/desk.jpg" style="height:300px" width="300"/>
              </div>
              <div class="tab-pane fade" id="Section2" role="tabpanel">
                <h3 class="font-weight-bold">We Deliver and Store Your Packages</h3>
                <p> We send unscannable mail to you or store it for up to 30 days.</p>
                <img class="img-fluid" src="../../../assets/img/hw1.jpg" style="height:300px" width="300"/>
              </div>
              <div class="tab-pane fade" id="Section3" role="tabpanel">
                <h3 class="font-weight-bold">Edit Your Mail</h3>
                <p> Quickly and easily redact text and add notes.</p>
                <img class="img-fluid" src="../../../assets/img/hw4.jpg" style="height:300px" width="300"/>
              </div>
              <div class="tab-pane fade" id="Section4" role="tabpanel">
                <h3 class="font-weight-bold">Get Paid Faster</h3>
                <p>We deposit any checks that come by mail. No more running to the bank.</p>
                <img class="" src="../../../assets/img/pay.jpg" style="height:300px!important;" width="300"/>
              </div>

              <div class="tab-pane fade" id="Section5" role="tabpanel">
                <h3 class="font-weight-bold">eSignature Built In</h3>
                <p>Sign documents and request signatures, all from one platform, powered by DrySign.</p>
                <img class="img-fluid" src="../../../assets/img/esign.jpg" style="height:300px" width="300"/>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
