<h3 class="font-weight-bold">Return Mail</h3>


<div class="tab-content py-3" id="myTabContent">
  <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-4 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">

          <div class="card-body">
            <div class="tab-content p-0">
              <a href="#"><img class="img-responsive size" src="../../../assets/img/pay.jpg"></a>
            </div>
            <div class="row">

            </div>
            <div class="button-block">
              <i class="far fa-envelope"></i> Envelope
              <a><i class="float-right fas fa-trash"></i></a>
              <a> <i class="float-right fas fa-flag "></i></a>
            </div>
            <div class="button-block">
              <label> Date 02/02/2015</label>
              <label class="float-right">Time 11:55 AM</label>

            </div>


          </div>

        </div>
      </section>

      <section class="col-lg-4 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">

          <div class="card-body">
            <div class="tab-content p-0">
              <a href="#"><img class="img-responsive size" src="../../../assets/img/pay.jpg"></a>
            </div>
            <div class="row">

            </div>
            <div class="button-block">
              <i class="far fa-envelope"></i> Envelope
              <a><i class="float-right fas fa-trash"></i></a>
              <a> <i class="float-right fas fa-flag "></i></a>
            </div>
            <div class="button-block">
              <label> Date 02/02/2015</label>
              <label class="float-right">Time 11:55 AM</label>

            </div>


          </div>

        </div>
      </section>

    </div>
  </div>
  <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
    <h1>Comming Soon!!</h1>
  </div>
</div>