<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-inbox mr-2"></i>Advanced Setting</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox1"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox1"
                    >User Barcode Labels</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox2"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox2"
                    >User Area ID</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox3"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox3"
                    >Enable Automated mail assignment</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox4"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox4"
                    >Disable Operators for users without 1583</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox5"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox5"
                    >Disable auto-approval of the USPS Form 1583</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox6"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox6"
                    >Always Consolidate items into a single shipment</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox7"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox7"
                    >Always use large envelops or flat packing type when
                    generating USPS letter shipments</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox8"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox8"
                    >Automatically charge customers a sales tax</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox9"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox9"
                    >Allow Pickup request for users without 1583</label
                >
            </div>
        </div>
        <div class="row">
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox10"
                    value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox10"
                    >Enable the ability to request same-day pickups</label
                >
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6 inline">
                <label>Notice Period</label>
                <input class="input" type="number" />
                <span>Hours </span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <strong>Shipment Carriers</strong>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" />
                    <img class="image" src="/assets/img/usps.png" />
                </label>
                <p class="image-name">USPS</p>
            </div>
            <div class="col">
                <label class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" />
                    <img class="image" src="/assets/img/ups_logo.png" />
                </label>
                <p class="image-name">UPS</p>
            </div>

            <div class="col">
                <label class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" />
                    <img
                        class="image"
                        src="/assets/img/carrier-logo-fedex.png"
                    />
                </label>
                <p class="image-name">Fedex</p>
            </div>
            <div class="col">
                <label class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" />
                    <img class="image" src="assets/img/dhl_logo.png" />
                </label>
                <p class="image-name">DHL</p>
            </div>
        </div>
        <br />
        <div>
            <button type="button" class="btn btn-primary btn">Save</button>
        </div>
        <br />
    </div>
</div>
