//ravi scss
.cards {
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  background: linear-gradient(130deg, rgba(60, 38, 171, 0.97) 0%, #8293ff 100%);
  color: white;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.0);
}


.cardBgUnset {
  background-color: unset !important;
  background-clip: unset !important;
}
