<div class="card">
    <div class="card-header">
        <h3><i class="fas fa-file mr-2"> </i> My Account
            <a type="button" (click)="editprofile()" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-edit"> Edit</i> </a>
            <a type="button" (click)="changepassword()" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-key"> Change Password</i> </a>
        </h3>


    </div>

    <div class="card-body " >

        <div >

        <div class="row justify-center myaccount">

            <div class="col-4">
                <label>First Name</label>
            </div>

            <div class="col-4">
                <p>{{ fname }}</p>
            </div>
        </div>


        <div class="row myaccount mt-4">
            <div class="col-4">
                <label>Last Name</label>
            </div>

            <div class="col-4">
                <p>{{ lname }}</p>
            </div>
        </div>
        <div class="row myaccount mt-4">
            <div class="col-4">
                <label>Email</label>
            </div>

            <div class="col-4">
                <p>{{ email }}</p>
            </div>
        </div>
        <div class="row myaccount mt-4">
            <div class="col-4">
                <label>Role</label>
            </div>

            <div class="col-4">
                <p>xyz</p>
            </div>
        </div>
        <div class="row myaccount mt-4">
            <div class="col-4">
                <label>New Requests Notification</label>
            </div>

            <div class="col-4">
                <p>Enble</p>
            </div>
        </div>
        <div class="row myaccount mt-4">
            <div class="col-4">
                <label>New Customers Notification</label>
            </div>

            <div class="col-4">
                <p>Enable</p>
            </div>
        </div>

        <div class="row myaccount mt-4">
            <div class="col-4">
                <label>Usps 1583 Notification</label>
            </div>

            <div class="col-4">
                <p>Enable</p>
            </div>
        </div>
        </div>

    </div>


</div>







<p-dialog (onHide)="closePopup('changePassPopup')" [draggable]="false" widgetVar="dlg4" showEffect="fade" modal="true" width="900" [style]="{width: '30vw'}"
    height="500" styleClass="addDialogEdit" header="Change Password" [(visible)]="editpassword">
    <app-change-password ></app-change-password>
</p-dialog>

<p-dialog (onHide)="closePopup('editProfilePopup')" [draggable]="false" widgetVar="dlg4" [style]="{width: '50vw'}" showEffect="fade" modal="true" width="900"
    height="700" styleClass="addDialog" header="Edit Profile" [(visible)]="editaccount">
    <app-edit-account></app-edit-account>
</p-dialog>