.main-detail {
    margin-top: 10px;
}

.profile-section {
    margin: 4px 0px;
}

.profile-section h5 {
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
}

.profile-section p {
    font-weight: 600;
}

.TestHeader {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(26, 22, 22);
    text-transform: capitalize;
    margin-bottom: 2%;
    margin-top: 2%;
}

.testTextHeading {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: grey;
    text-transform: capitalize;
    margin-top: 1%;
    margin-bottom: 1%;
}

.testTextResult {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(42, 41, 41);
    text-transform: capitalize;
    margin-top: 1%;
    margin-bottom: 1%;
}

.testButtonContainer {
    padding: 1%;
}

.testButton {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}

.setting_profile {
    display: flex;
    margin-top: 6px;
    flex-direction: column;
}

.profil-detail {
    display: flex;
    gap: 120px;
    margin: 3px 0px;
}

.profil-detail h5 {
    color: rgba(0, 0, 0, .5);
    font-size: 18px;
}

.addDialogEdit {
    width: 900px !important;
}