<app-loading-process *ngIf="loading"></app-loading-process>

<div class="card" *ngIf="!loading">
    <div class="card-header">
      <h3><i class="fas fa-home mr-2"></i>Packages
        <a  (click)="showNewPackage()" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
        <i class="fas fa-plus">Add</i> </a>
      </h3>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Incoming Mail</th>
          <th scope="col">Open Scan</th>
          <th scope="col">Recipients</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let package of packages; index as i;">
            <th scope="row">{{i + 1 }}</th>
            <td>{{ package.type | titlecase }}</td>
            <td>{{ package.name | titlecase }}</td>
            <td>{{ package.price  }}</td>
            <td>{{ package.incoming_mail }}</td>
            <td>{{ package.open_scan }}</td>
            <td>{{ package.recipients }}</td>
            <td>{{ package.timestamp |  date:'dd/MM/YYYY'}}</td>
            <td>

              <a title="Edit Customer" (click)="showDialog()" type="button" class="btn btn-outline-primary"
                style="margin-right: 5px;">
                <i class="fas fa-edit"></i>
              </a>
              <button title="Delete Customer" (click)="showDeleteDialog()"  type="button" class="btn btn-outline-danger"
                style="margin-right: 5px;">
                <i class="fas fa-trash"></i>
              </button>   

              <p-dialog  header="Delete Package"  [(visible)]="deletePopup" widgetVar="dlg3" minHeight="40" width="550" showEffect="fade">
                  <p>Are you sure you want to delete this package?</p>
                  <p-button (click)="delete($event,'YES')" icon="pi pi-check" label="Yes"></p-button> 
                  <p-button style="margin-left: 7px;" (click)="delete($event,'NO')" icon="pi pi-times" label="No" class="p-button-danger"></p-button>
             
              </p-dialog>


              <p-dialog #editDialog (onHide)="closePackageDialog()"
                header="Edit Package Details"
                [(visible)]="editPackage">
                <app-package-edit (newItemEvent)="dialogInfoUpdate($event)" [_id]="package._id"></app-package-edit>
              </p-dialog>
                  
            </td>
            </tr>
            <tr *ngIf="packages.length == 0" style="text-align: center;" class="no-records-found"><td colspan="10">No Record Found</td></tr>

        </tbody>
      </table>
    </div>
  </div>

<p-dialog  widgetVar="dlg3" minHeight="40" width="550" showEffect="fade" styleClass="myClass"
       header="Add New Package"
       [(visible)]="addPackage" (onHide)="closePackageDialog()">
       <app-package-add (newItemEvent)="dialogInfoUpdate($event)"></app-package-add>
</p-dialog>




