<div>
    <form [formGroup]="addPackageForm">

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Feature</label>
                <select formControlName="features_id" class="form-control">
                    <option value="">Select Feature</option>
                    <option value="{{ feature.feature_id }}" *ngFor="let feature of featuresList;">{{ feature.name |
                        titlecase }}</option>
                </select>
                <div *ngIf="submitted && addPackageForm.controls.features_id.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.features_id.errors.required">
                        Feature is required
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Package Type</label>
                <select formControlName="type" class="form-control">
                    <option value="">Select Package Type</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
                <div *ngIf="submitted && addPackageForm.controls.type.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.type.errors.required">
                       Package Type is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Package Name</label>
                <select formControlName="name" class="form-control">
                    <option value="">Select Package Type</option>
                    <option value="gold">Gold</option>
                    <option value="silver">Silver</option>
                    <option value="premium">Premium</option>
                </select>
                <div *ngIf="submitted && addPackageForm.controls.name.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.name.errors.required">
                        Package Type is required
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Price</label>
                <input type="number" formControlName="price" class="form-control">
                <div *ngIf="submitted && addPackageForm.controls.price.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.price.errors.required">
                        Price is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Incoming Mail</label>
                <input type="number" formControlName="incoming_mail" class="form-control">
                <div *ngIf="submitted && addPackageForm.controls.incoming_mail.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.incoming_mail.errors.required">
                        Incoming mail is required
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">Open Scan</label>
                <input type="number" formControlName="open_scan" class="form-control">
                <div *ngIf="submitted && addPackageForm.controls.open_scan.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.open_scan.errors.required">
                        Open Scan is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Recipients</label>
                <input type="number" formControlName="recipients" class="form-control">
                <div *ngIf="submitted && addPackageForm.controls.recipients.errors" class="inp_error">
                    <div *ngIf="addPackageForm.controls.recipients.errors.required">
                        Recipients is required
                    </div>
                </div>
            </div>
            <div class="col-md-6"  style="padding-top: 26px; ">
                <p-button  styleClass="p-button-add"  (click)="save()"> Add </p-button>
            </div>
        </div>        
    </form>
</div>