<div class="card-overlay shadow">
  <div class="wrapper">
    <div class="airplane">
      <i class="shuttle">
        <i class="nose"></i>
        <i class="wings"></i>
        <i class="cockpit"></i>
      </i>
      <i class="rope"></i>
      <i class="banner font-weight-bold">
        Be Smart - Be Digital - Be Virtual
        <i class="triangle"></i>
      </i>
    </div>
    <div class="container h-100 d-flex justify-content-center align-items-center flex-column">

      <div class="h2 d-flex justify-content-center align-items-center font-weight-bold text-navy" data-aos="flip-left"
           data-aos-duration="1500"
           data-aos-easing="ease-out-cubic">
        <div class="p-3 bg-white text-navy">Virtual</div>
        <div class="p-3 bg-navy text-white">Mail Box</div>
      </div>

      <p class="text-navy p-2 bg-navy font-weight-bold" data-aos="fade-right" data-aos-duration="300"
         data-aos-easing="ease-in-sine">
        Rates
        starting
        as low as $5.99 per month.</p>
      <button class="btn btn-bg-red btn-lg pulse rounded-pill  text-white" data-aos="zoom-in"
              data-aos-duration="600"
              data-aos-easing="ease-in-sine" [routerLink]="'/'+frontEndRoutesPath.browseLocations"><i
        class="fas fa-search-location mr-2"></i>Browse
        Locations
      </button>
      <!--<div class=" d-none d-sm-none d-lg-block">
        <img class="img-fluid" data-aos="flip-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic" height="500"
             src="assets/img/mail-head.png" width="500">
      </div>-->

      <div class="h4 font-weight-bold text-white text-center w-100 "
           style="position: absolute;bottom: 20px;">

        <!-- <marquee class="p-3 logo is-animetion">
           <span><i class="fa fa-hand-point-right mr-2"></i></span>
           <span>B</span><span>e</span><span class="pl-2">s</span><span>m</span><span>a</span><span>r</span><span>t</span>
           <span class="px-2">-</span>
           <span>B</span><span>e</span><span
           class="pl-2">d</span><span>i</span><span>g</span><span>i</span><span>t</span><span>a</span><span>l</span>
           <span class="px-2">-</span>
           <span>B</span><span>e</span><span
           class="pl-2">v</span><span>i</span><span>r</span><span>t</span><span>u</span><span>a</span><span>l</span>
           <span><i class="fa fa-hand-point-left ml-2"></i></span>
         </marquee>-->
      </div>

    </div>
  </div>


</div>


<div class="section py-5 bg-white shadow">
  <div class="container">
    <div class="card-deck py-4 " data-aos="fade-up">
      <div class="card c1 shadow" data-aos="fade-down" data-aos-duration="1500"
           data-aos-easing="linear">
        <img alt="..." class="img-fluid mr-1 mx-auto" data-aos="zoom-in" src="assets/img/pocket-watch.gif"
             style="width: 150px; height: 150px;">
        <div class="card-body text-center">
          <h5 class=" ct font-weight-bold ">ANYTIME</h5>
          <p class="  p-0 m-0">Instant mail notification</p>
          <p class="  p-0 m-0">High resolution image</p>
        </div>
      </div>
      <div class="card shadow c1" data-aos="fade-down" data-aos-duration="1500" data-aos-easing="linear">

        <img alt="..." class="img-fluid mr-1 mx-auto" data-aos="zoom-in"
             data-aos-easing="ease-in-sine" src="assets/img/worldwide.gif" style="width: 150px; height: 150px;">
        <div class="card-body  text-center">
          <h5 class=" font-weight-bold ct">ANYWHERE</h5>
          <p class="  p-0 m-0">Manage the Digital Box</p>
          <p class="  p-0 m-0">See Your Account</p>
          <p class="  p-0 m-0">No Clutter</p>
          <p class="  p-0 m-0">No Fuss</p>
        </div>
      </div>
      <div class="card shadow c1" data-aos="fade-down" data-aos-duration="1500"
           data-aos-easing="linear">
        <img alt="..." class="img-fluid mx-auto  " data-aos="flip-up"
             src="assets/img/responsive.gif" style="width: 150px; height: 150px;">
        <div class="card-body text-center ">
          <h5 class=" font-weight-bold ct">MOBILE ACCESS</h5>
          <p class="  p-0 m-0">Through User Friendly Application</p>
          <p class="  p-0 m-0">ios and Android</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section py-5">
  <div class="container">
    <h1 class="text-dark font-weight-bold text-center">Digital Mailroom Process</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline2">
          <div class="timeline">
            <span class="icon fa fa-mail-bulk"></span>
            <a class="timeline-content" data-aos="zoom-in"
               data-aos-duration="600"
               data-aos-easing="ease-in-sine" href="#">
              <h3 class="title">
                <button class="btn rounded-circle bg-white text-black">1</button>
                DIGITAL BOX
              </h3>
              <p class="description">Mail is delivered to your business PO BOX.
              </p>
            </a>
          </div>
          <div class="timeline">
            <span class="icon fa fa-envelope-open"></span>
            <a class="timeline-content" data-aos="zoom-in" data-aos-duration="600"
               data-aos-easing="ease-in-sine"
               href="#">
              <h3 class="title">
                <button class="btn rounded-circle bg-white text-black">2</button>
                RECORD MAIL
              </h3>
              <p class="description">By App and Record Mail Id Number.
              </p>
            </a>
          </div>
          <div class="timeline">
            <span class="icon fa fa-bell"></span>
            <a class="timeline-content" data-aos="zoom-in" data-aos-duration="600"
               data-aos-easing="ease-in-sine"
               href="#">
              <h3 class="title">
                <button class="btn rounded-circle bg-white text-black">3</button>
                Incoming Mail
              </h3>
              <p class="description">Customer gets notification through email and text.
              </p>
            </a>
          </div>
          <div class="timeline">
            <span class="icon fa fa-user-cog"></span>
            <a class="timeline-content" data-aos="zoom-in" data-aos-duration="600"
               data-aos-easing="ease-in-sine"
               href="#">
              <h3 class="title">
                <button class="btn rounded-circle bg-white text-black">4</button>
                Mailbox Customer
              </h3>
              <p class="description">Choose to Scan, Forward, Shared or Discard the mail.
              </p>
            </a>
          </div>
          <div class="timeline">
            <span class="icon fa fa-user-check"></span>
            <a class="timeline-content" data-aos="zoom-in" data-aos-duration="600"
               data-aos-easing="ease-in-sine"
               href="#">
              <h3 class="title">
                <button class="btn rounded-circle bg-white text-black">5</button>
                Operator Execute
              </h3>
              <p class="description">
                The desired task by Uploading scan or by shipping mail or Shared / Discard mail.
              </p>
            </a>
          </div>
          <div class="timeline">
            <span class="icon fa fa-clock"></span>
            <a class="timeline-content" data-aos="zoom-in" data-aos-duration="600"
               data-aos-easing="ease-in-sine"
               href="#">
              <h3 class="title">
                <button class="btn rounded-circle bg-white text-black">6</button>
                Anytime & Anywhere
              </h3>
              <p class="description">
                Mailbox can be managed Anytime Anywhere 24x7
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section shadow">
  <h1 class="text-dark font-weight-bold text-center py-4">How Does The 24x7Mail Works for you?</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" data-aos="flip-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            frameborder="0"
            src="https://www.youtube.com/embed/yEksUcGr-oM"
            title="YouTube video player"
          ></iframe>
          <!-- <div class="embed-responsive embed-responsive-16by9">
             <iframe allowfullscreen class="embed-responsive-item"
                     src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
           </div>-->
        </div>
        <!-- <button class="btn vmb-back-orange btn-lg btn-block h2 mt-5 text-white"
                 data-aos="zoom-in"
                 data-aos-duration="500"
                 data-aos-easing="ease-in-sine"><i class="fas fa-envelope mr-2"></i>Virtual Mail Box
         </button>-->
      </div>
      <div class="col-lg-8" data-aos="fade-up">
        <ul class="list-group">
          <li class="list-group-item border-0 bg-transparent">
            <div class="row ">
              <div class="col-lg-3">
                <img alt="..." class="img-fluid mr-1 mx-auto" data-aos="zoom-in" src="assets/img/pocket-watch.gif"
                     style="width: 150px; height: 150px;">
              </div>
              <div class="col">
                <div class="media-body" class="media-body" data-aos="zoom-in" data-aos-duration="1000"
                     data-aos-offset="50">
                  <h5 class="mt-0 font-weight-bold vmb-text-orange">Access your mail 24X7/365</h5>
                  <p>We offer 600+ local mailing addresses to receive your mail and package deliveries. Once received,
                    your mail items are scanned and uploaded to your online mailbox account.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item border-0 bg-transparent">
            <div class="row ">
              <div class="col-lg-3">
                <img alt="..." class="img-fluid mr-1 mx-auto" data-aos="zoom-in" src="assets/img/worldwide.gif"
                     style="width: 150px; height: 150px;">
              </div>
              <div class="col">
                <div class="media-body" class="media-body" data-aos="zoom-in" data-aos-duration="1500">
                  <h5 class="mt-0 font-weight-bold vmb-text-orange">Regardless of where you are in the world</h5>
                  <p>View your mail items online and decide to either open & scan, forward or recycle your unwanted
                    junk
                    mail. Our convenient locations are available for local pickup, whenever you need it.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item border-0 bg-transparent">
            <div class="row">
              <div class="col-lg-3">
                <img alt="..." class="img-fluid mr-1 mx-auto" data-aos="zoom-in" src="assets/img/responsive.gif"
                     style="width: 150px; height: 150px;">
              </div>
              <div class="col">
                <div class="media-body" class="media-body" data-aos="zoom-in" data-aos-duration="1000">
                  <h5 class="mt-0 font-weight-bold vmb-text-orange">From any mobile device or tablet</h5>
                  <p>Our web mailbox offers a robust digital mailroom system that is fast, easy-to-use and fully
                    responsive. Our mobile apps are available for download on both the App Store and Google Play.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!--21-3-23 changes backup Start-->
<!--
<div class="section card shadow">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-group">
          <li class="list-group-item border-0 bg-transparent">
            <div class="row ">
              <div class="col-lg-3">
                <img alt="..." class="img-fluid mr-1" data-aos="zoom-in-down" data-aos-duration="350"
                     data-aos-easing="ease-in-sine" data-aos-offset="50" src="assets/img/m6.jpg"
                     style="height: 150px;">
              </div>
              <div class="col">
                <div class="media-body" class="media-body" data-aos="zoom-in" data-aos-duration="1000"
                     data-aos-offset="50">
                  <h5 class="mt-0 font-weight-bold vmb-text-orange">Access your mail 24X7/365</h5>
                  <p>We offer 600+ local mailing addresses to receive your mail and package deliveries. Once received,
                    your mail items are scanned and uploaded to your online mailbox account.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item border-0 bg-transparent">
            <div class="row ">
              <div class="col-lg-3">
                <img alt="..." class="img-fluid mr-1" data-aos="fade-right" data-aos-duration="600"
                     data-aos-easing="ease-in-sine" src="assets/img/m8.jpg" style="height: 150px;">
              </div>
              <div class="col">
                <div class="media-body" class="media-body" data-aos="zoom-in" data-aos-duration="1500">
                  <h5 class="mt-0 font-weight-bold vmb-text-orange">Regardless of where you are in the world</h5>
                  <p>View your mail items online and decide to either open & scan, forward or recycle your unwanted
                    junk
                    mail. Our convenient locations are available for local pickup, whenever you need it.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item border-0 bg-transparent">
            <div class="row">
              <div class="col-lg-3">
                <img alt="..." class="img-fluid mr-1" data-aos="flip-up" data-aos-duration="500"
                     src="assets/img/m7.jpg" style="height: 150px;">
              </div>
              <div class="col">
                <div class="media-body" class="media-body" data-aos="zoom-in" data-aos-duration="1000">
                  <h5 class="mt-0 font-weight-bold vmb-text-orange">From any mobile device or tablet</h5>
                  <p>Our web mailbox offers a robust digital mailroom system that is fast, easy-to-use and fully
                    responsive. Our mobile apps are available for download on both the App Store and Google Play.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 my-auto">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            frameborder="0"
            src="https://www.youtube.com/embed/yEksUcGr-oM"
            title="YouTube video player"
          ></iframe>
          &lt;!&ndash; <div class="embed-responsive embed-responsive-16by9">
             <iframe allowfullscreen class="embed-responsive-item"
                     src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
           </div>&ndash;&gt;
        </div>
        <button class="btn vmb-back-orange btn-lg btn-block h2 mt-5 text-white"
                data-aos="zoom-in"
                data-aos-duration="500"
                data-aos-easing="ease-in-sine"><i class="fas fa-envelope mr-2"></i>Virtual Mail Box
        </button>
      </div>
    </div>
  </div>
</div>
-->
<!--<div class="section shadow">
  <div class="container py-3">
    <h3 class="text-center text-danger font-weight-bold"
        data-aos="fade-right"
        data-aos-delay="700"
        data-aos-duration="1000">What Digital Mailroom Does for You</h3>

    <div class="container pb-4 ">
      <div class="row text-center">
        <div class="col">
          <div class="tab" role="tabpanel">
            &lt;!&ndash; Nav tabs &ndash;&gt;
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class=" px-3" role="presentation"><a aria-controls="home" class="active" data-toggle="tab"
                                                       href="#Section1"
                                                       role="tab">Your Mail,Online</a></li>
              <li class="px-3" role="presentation"><a aria-controls="profile" data-toggle="tab" href="#Section2"
                                                      role="tab">Deliver & Store</a></li>
              <li class="px-3" role="presentation"><a aria-controls="messages" data-toggle="tab" href="#Section3"
                                                      role="tab">Edit Your Mail</a></li>
              <li class="px-3" role="presentation"><a aria-controls="messages4" data-toggle="tab" href="#Section4"
                                                      role="tab">Get Paid Faster</a></li>
              <li class="px-2" role="presentation"><a aria-controls="messages5" data-toggle="tab" href="#Section5"
                                                      role="tab">eSignature Built In</a></li>
            </ul>
            &lt;!&ndash; Tab panes &ndash;&gt;
            <div class="tab-content tabs" id="myTabContent">
              <div class="tab-pane active" id="Section1" role="tabpanel">
                <h3 class="font-weight-bold">Your Mail, Online</h3>
                <p>Receive 300 dpi images of your mail instantly on your computer, phone, or other device.</p>
                <img class="img-fluid" src="../../../assets/img/desk.jpg" style="height:300px" width="300"/>
              </div>
              <div class="tab-pane fade" id="Section2" role="tabpanel">
                <h3 class="font-weight-bold">We Deliver and Store Your Packages</h3>
                <p> We send unscannable mail to you or store it for up to 30 days.</p>
                <img class="img-fluid" src="../../../assets/img/hw1.jpg" style="height:300px" width="300"/>
              </div>
              <div class="tab-pane fade" id="Section3" role="tabpanel">
                <h3 class="font-weight-bold">Edit Your Mail</h3>
                <p> Quickly and easily redact text and add notes.</p>
                <img class="img-fluid" src="../../../assets/img/hw4.jpg" style="height:300px" width="300"/>
              </div>
              <div class="tab-pane fade" id="Section4" role="tabpanel">
                <h3 class="font-weight-bold">Get Paid Faster</h3>
                <p>We deposit any checks that come by mail. No more running to the bank.</p>
                <img class="" src="../../../assets/img/pay.jpg" style="height:300px!important;" width="300"/>
              </div>

              <div class="tab-pane fade" id="Section5" role="tabpanel">
                <h3 class="font-weight-bold">eSignature Built In</h3>
                <p>Sign documents and request signatures, all from one platform, powered by DrySign.</p>
                <img class="img-fluid" src="../../../assets/img/esign.jpg" style="height:300px" width="300"/>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="section shadow">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col bg-dark">
        <div class="lottie-animation ">
          <div class="c-your-brand__graphic">
            <div class="test">
              <div class="w-embed"></div>
            </div>
          </div>
          <ng-lottie (animationCreated)="animationCreated($event)" [options]="options">
          </ng-lottie>
        </div>
      </div>
      <div class="col my-auto text-center">
        <h1>Some Text Some text....</h1>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="section shadow">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 p-4">
      <div class="col">
        <img class="img-fluid" src="assets/img/location.png" width="400"/>
      </div>
      <div class="col">
        <h3>Find the address that best fits your needs</h3>
        <p>
          Digital Mailroom has a nation-wide network to help securely digitize mail, scan checks, and handle packages,
          all while giving you a real street address.
        </p>
        <button class="btn  mt-5x text-white  vmb-back-orange btn-lg btn-block h2"
                data-aos="zoom-in"
                data-aos-duration="500"

                data-aos-easing="ease-in-sine"
                [routerLink]="'/'+frontEndRoutesPath.browseLocations">Browse Addresses
        </button>
      </div>
    </div>
  </div>
</div>-->
<!--21-3-23 changes backup End-->


