<div>
    <form [formGroup]="changePassword">
        <div class="row">
            <div class="col-md-11">
                <label>Old Password</label>
                <div class="input-group">
                    <input
                        class="form-control"
                        formControlName="password"
                        [type]="oldPasswordVisible ? 'text' : 'password'"
                    />
                    <span
                        class="input-group-addon eye-icon bordered-eye-icon"
                        (click)="toggleOldPasswordVisibility()"
                    >
                        <i
                            class="fa"
                            [ngClass]="{
                                'fa-eye-slash': oldPasswordVisible,
                                'fa-eye': !oldPasswordVisible
                            }"
                            aria-hidden="true"
                        ></i>
                    </span>
                </div>
                <div
                    *ngIf="submitted && changePassword.controls.password.errors"
                    class="inp_error"
                >
                    <div
                        *ngIf="changePassword.controls.password.errors.required"
                    >
                        Password is required
                    </div>
                </div>
            </div>

            </div>


            
            <div class="row">
            <div class="col-md-11">
                <label>New Password*</label>
                <div class="input-group">
                    <input
                        class="form-control"
                        formControlName="newPassword"
                        [type]="newPasswordVisible ? 'text' : 'password'"
                    />
                    <span
                        class="input-group-addon eye-icon bordered-eye-icon"
                        (click)="toggleNewPasswordVisibility()"
                    >
                        <i
                            class="fa"
                            [ngClass]="{
                                'fa-eye-slash': newPasswordVisible,
                                'fa-eye': !newPasswordVisible
                            }"
                            aria-hidden="true"
                        ></i>
                    </span>
                </div>
                <div
                    *ngIf="
                        submitted && changePassword.controls.newPassword.errors
                    "
                    class="inp_error"
                >
                    <div
                        *ngIf="
                            changePassword.controls.newPassword.errors.required
                        "
                    >
                        New Password is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <label>Confirm Password*</label>
                <div class="input-group">
                    <input
                        class="form-control"
                        formControlName="confirmPassword"
                        [type]="confirmPasswordVisible ? 'text' : 'password'"
                    />
                    <span
                        class="input-group-addon eye-icon bordered-eye-icon"
                        (click)="toggleConfirmPasswordVisibility()"
                    >
                        <i
                            class="fa"
                            [ngClass]="{
                                'fa-eye-slash': confirmPasswordVisible,
                                'fa-eye': !confirmPasswordVisible
                            }"
                            aria-hidden="true"
                        ></i>
                    </span>
                </div>
                <div
                    *ngIf="
                        submitted &&
                        changePassword.get('confirmPassword').errors
                    "
                    class="inp_error"
                >
                    <div
                        *ngIf="
                            changePassword.get('confirmPassword').errors
                                .required
                        "
                    >
                        Confirm New Password is required
                    </div>

                    <div
                        *ngIf="
                            changePassword.get('confirmPassword').errors
                                .confirmPasswordValidator
                        "
                    >
                        Passsword and Confirm Password didn't match.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding-top: 26px">
            <p-button styleClass="p-button-add" (click)="newPass()">
                Change Password
            </p-button>
        </div>
    </form>
</div>
