<div>
    <form [formGroup]="changePassword">

        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Old Password</label>
                <input type="text" autocomplete="off" formControlName="password" class="form-control">
                <div *ngIf="submitted && changePassword.controls.password.errors" class="inp_error">
                    <div *ngIf="changePassword.controls.password.errors.required">
                        password is required
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label>Password*</label>
                <input class="form-control" formControlName="newPassword" type="password" />
                <div *ngIf="submitted && changePassword.controls.newPassword.errors" class="inp_error">
                    New password is required
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Confirm Password*</label>
                <input class="form-control" formControlName="confirmPassword" type="password" />
                <div *ngIf="submitted && changePassword.controls.confirmPassword.errors" class="inp_error">
                    <div *ngIf="changePassword.controls.confirmPassword.errors.required">
                        Confirm Password is required
                    </div>
                </div>

            </div>


        </div>



        <div class="col-md-6" style="padding-top: 26px; ">
            <p-button styleClass="p-button-add" (click)="newPass()"> Add </p-button>
        </div>

    </form>
</div>