.inp_error {
    color: red;
    font-size: 12px;
}
// .eye-icon {
//     position: absolute;
//     right: 10px;
//     top: 50%;
//     transform: translateY(-50%);
//     cursor: pointer;
//     z-index: 1;
// }

.eye-icon i {
    pointer-events: none;
}
.bordered-eye-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px;
    margin-left: 10px;
}

.input-group {
    padding: 0px;
}
