.form-check-inline .sequential {
    margin-left: 168px;
}

input {
    margin-left: 20px;
    width: 80px;
    margin-right: 5px;
}

.day {
    margin-right: 60px;
}

.btn {
    float: right;
}

.logo {
    width: 600px;
    height: 400px;
}

.space {
    margin-left: 20px;
}