<div class="container">
    <div class="row">
        <div class="col d-flex">
            <h2><strong>Marketing Files</strong></h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <strong>For Printing</strong>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">Flyer <i class="fa fa-upload space"></i></div>

        <div class="col-sm-6">
            Window Poster <i class="fa fa-upload space"></i>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <strong>Design Materials</strong>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">Logos</div>
    </div>
    <div class="row">
        <img class="logo" src="/assets/img/bg-img.jpg" />
    </div>
    <div class="row">
        <div class="col-sm-6">Icons</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <h4><i class="fa fa-cloud"></i></h4>
        </div>
        <div class="col-sm-2">
            <h4><i aria-hidden="true" class="fa fa-envelope"></i></h4>
        </div>
        <div class="col-sm-2">
            <h4><i class="fa fa-phone"></i></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <h4><i class="fa fa-user"></i></h4>
        </div>
        <div class="col-sm-2">
            <h4>
                <i class="fa fa-book"></i>
            </h4>
        </div>
        <div class="col-sm-2">
            <h4>
                <i class="fa fa-upload"></i>
            </h4>
        </div>
    </div>
</div>